<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900">
    <div id="main" class="h-screen w-full bg-[url('https://plus.unsplash.com/premium_photo-1697730407363-4fff46d992bb?q=80&w=3375&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover flex items-center justify-center bg-no-repeat bg-center">
        <div class="board bg-white bg-opacity-90 rounded-xl shadow-lg px-10 py-8 max-w-md w-full">
            <h1 class="text-3xl font-semibold text-gray-800 pb-6 text-center">Create an account</h1>
            <form action="/registerUser" method="post" class="space-y-4">
                <div class="flex flex-col">
                    <label for="employeeId" class="text-gray-700">Employee ID</label>
                    <input name="employeeId" type="text" placeholder="Enter the employee id" class="outline-none px-4 py-3 text-gray-900 rounded-lg border border-gray-300 focus:ring-2 focus:ring-orange-400">
                </div>
                <div class="flex flex-col">
                    <label for="Name" class="text-gray-700">Name</label>
                    <input name="name" type="text" placeholder="Enter the Name" class="outline-none px-4 py-3 text-gray-900 rounded-lg border border-gray-300 focus:ring-2 focus:ring-orange-400">
                </div>
                <div class="flex flex-col">
                    <label for="department" class="text-gray-700">Department</label>
                    <input name="department" type="text" placeholder="Enter department" class="outline-none px-4 py-3 text-gray-900 rounded-lg border border-gray-300 focus:ring-2 focus:ring-orange-400">
                </div>
                <div class="flex flex-col">
                    <label for="roleLevel" class="text-gray-700">Role level</label>
                    <input name="roleLevel" type="text" placeholder="Enter role level" class="outline-none px-4 py-3 text-gray-900 rounded-lg border border-gray-300 focus:ring-2 focus:ring-orange-400">
                </div>
                <div class="flex flex-col">
                    <label for="password" class="text-gray-700">Generate a Password</label>
                    <input name="password" type="password" placeholder="Enter password" class="outline-none px-4 py-3 text-gray-900 rounded-lg border border-gray-300 focus:ring-2 focus:ring-orange-400">
                </div>
                <div class="flex justify-center">
                    <input type="submit" class="px-6 py-3 bg-orange-500 text-white rounded-lg font-semibold cursor-pointer hover:bg-orange-600 transition" value="Sign In">
                </div>
            </form>
        </div>        
    </div>
</body>
</html>